/JavaFXPrograms/JavaFXApplication01/nbproject/private/
/JavaFXPrograms/JavaFXApplication01/build/
/JavaFXPrograms/JavaFXApplication01/dist/
/JavaFXPrograms/JavaFXSwingApplication1/nbproject/private/
/JavaFXPrograms/JavaFXApplication2/nbproject/private/
/JavaFXPrograms/JavaFXApplication3/nbproject/private/
/JavaFXPrograms/JavaFXApplication3/build/
/JavaFxLabPrograms-18-19-20/nbproject/private/
/JavaFxLabPrograms-18-19-20/build/
/JavaFXPrograms/WebApplication1/nbproject/private/